<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.TMotionPointsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.entity.TMotionPointsEntity">
        <id column="id" property="id" />
        <result column="record_time" property="recordTime" />
        <result column="x" property="x" />
        <result column="y" property="y" />
        <result column="z" property="z" />
        <result column="temperature" property="temperature" />
        <result column="data_id" property="dataId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, record_time, x, y, z, temperature, data_id, user_id
    </sql>

</mapper>
