<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.basic.user.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.entity.basic.user.UserEntity">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="gmt_modify" property="gmtModify" />
        <result column="login_name" property="loginName" />
        <result column="login_password" property="loginPassword" />
        <result column="user_status" property="userStatus" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, gmt_modify, login_name, login_password, user_status, is_deleted
    </sql>

</mapper>
